@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
}

:root {
    --gray: rgb(50, 50, 50);
    --gray-alpha: rgba(50, 50, 50, .9);
    --dark-gray: rgb(25, 25, 25);
    --dark-gray-alpha: rgba(25, 25, 25, .9);
    --dark-gray-alpha-95: rgba(25, 25, 25, .95);
    --primary-text: rgb(255, 255, 255);
    --primary-accent: rgb(237, 85, 75);
    --secondary-accent: rgb(227, 75, 115);
    --tertiary-accent: rgb(217, 65, 155);
    --gradient-accent: linear-gradient(to bottom, var(--primary-accent), var(--secondary-accent), var(--tertiary-accent));
    --gradient-text-accent: linear-gradient(to right, var(--primary-accent), var(--secondary-accent), var(--tertiary-accent));
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--gradient-accent);
}

::-webkit-scrollbar-track {
    background: var(--gray);
}

body {
    font-family: 'Righteous';
    font-synthesis: none;
    color: var(--primary-text);
    margin: 0;
    background: var(--dark-gray);
    overflow: hidden;
}

#overlay {
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--dark-gray-alpha-95);
    backdrop-filter: blur(20px);
}

#flyout {
    z-index: 2;
    position: absolute;
    right: 10px;
    width: 270px;
    height: calc(100vh - 50px);
    background: var(--gray-alpha);
    backdrop-filter: blur(20px);
}

[open='false'] {
    display: none;
    bottom: calc(-100vh - 50px);
}

[open='true'] {
    display: block;
    bottom: 0;
}

#app {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 30px 1fr 10px;
    gap: 0 10px;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
    height: 100vh;
    min-height: 480px;
    overflow: hidden;
}

#topbar {
    z-index: 2;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dark-gray-alpha);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}

#logo {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 30px max-content;
    gap: 0 10px;
    margin: 0;
    width: max-content;
}

#logo h1 {
    font-size: 14px;
}

#logo h2 {
    font-size: 10px;
}

#menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    width: 30px;
    height: 30px;
}

#menu li:first-of-type {
    background: var(--primary-accent);
}

#menu li {
    width: 100%;
    height: 4px;
    background: var(--secondary-accent);
}

#menu li:last-of-type {
    background: var(--tertiary-accent);
}

#sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 50px clamp(168px, 35vh, 378px) 30px 1fr; 
    grid-template-columns: 30px;
    background: var(--gray);
}

#paging {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 51px;
}

#paging li:first-of-type {
    background: var(--primary-accent);
}

#paging li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: var(--secondary-accent);
}

#paging li:last-of-type {
    background: var(--tertiary-accent);
}

#branding {
    grid-row: 4/5;
    grid-column: 1/2;
    font-size: 14px;
    transform-origin: center;
    transform: rotateZ(-90deg);
    align-self: center;
    justify-self: center;
    width: max-content;
    height: max-content;
}

#logo span,
#branding span {
    background: var(--gradient-text-accent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    grid-row: 1/3;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 50px clamp(168px, 35vh, 378px) 30px auto; 
    grid-template-columns: 1fr 10px;
    overflow-y: scroll;
}

#hero {
    grid-row: 2/3;
    grid-column: 1/2;
    background: url('/assets/imgs/hero.jpg');
    background-position: center;
    background-size: cover;
}

#crossbar {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

#crossbar hr {
    display: none;
    border: none;
    width: 100%;
    height: 10px;
    background: var(--gray);
}

#resumes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 3px;
    min-width: 260px;
}

#resumes button {
    cursor: pointer;
    font-family: 'Righteous';
    font-size: 10px;
    color: white;
    border: none;
    width: 77px;
    height: 20px;
}

#doc {
    background: var(--primary-accent);
}

#pdf {
    background: var(--tertiary-accent);
}

#resumes img {
    z-index: 1;
    width: 100px;
    height: 100px;
}

#cards {
    z-index: 0;
    grid-row: 4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 333px;
    grid-template-columns: 1fr;
    grid-auto-rows: 333px;
    grid-auto-columns: 1fr;
    gap: 10px;
}

.card {
    display: grid;
    grid-template-rows: 1fr 50px 20px;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    padding: 10px;
    background: var(--gray);
    box-sizing: border-box;
}

.card button {
    cursor: pointer;
    grid-row: 3/4;
    grid-column: 1/3;
    font-family: 'Righteous';
    font-size: 10px;
    color: white;
    border: none;
    background: var(--gradient-text-accent);
}

.design {
    grid-row: 1/2;
    grid-column: 1/3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.thumb {
    grid-row: 2/3;
    grid-column: 1/2;
    background: green;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 12px;
}

.subtitle {
    font-size: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

li {
    list-style-type: none;
}

@media (min-width: 340px) {
    #crossbar {
        justify-content: space-between;
    }

    #crossbar hr {
        display: initial;
    }
}

@media (min-width: 409px) {
    .card {
        grid-template-rows: 1fr 50px;
        grid-template-columns: 50px max-content 1fr;
    }

    .design {
        grid-row: 1/2;
        grid-column: 1/4;
    }

    .card button {
        grid-row: 2/3;
        grid-column: 3/4;
        align-self: center;
        justify-self: end;
        max-width: 100px;
        width: 100%;
        height: 20px;
    }
}

@media (min-width: 590px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        grid-template-rows: 1fr 50px 20px;
        grid-template-columns: 50px 1fr
    }

    .design {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .card button {
        grid-row: 3/4;
        grid-column: 1/3;
        align-self: center;
        max-width: initial;

    }
}

@media (min-width: 770px) {
    .card {
        grid-template-rows: 1fr 50px;
        grid-template-columns: 50px max-content 1fr;
    }

    .design {
        grid-row: 1/2;
        grid-column: 1/4;
    }

    .card button {
        grid-row: 2/3;
        grid-column: 3/4;
        align-self: center;
        justify-self: end;
        max-width: 100px;
        width: 100%;
        height: 20px;
    }
}

@media (min-width: 1130px) {
    #cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        grid-template-rows: 1fr 50px;
        grid-template-columns: 50px max-content 1fr;
    }

    .design {
        grid-row: 1/2;
        grid-column: 1/4;
    }

    .card button {
        grid-row: 2/3;
        grid-column: 3/4;
        align-self: center;
        justify-self: end;
        max-width: 100px;
        width: 100%;
        height: 20px;
    }
}

@media (min-width: 1670px) {
    #cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        grid-template-rows: 1fr 50px;
        grid-template-columns: 50px max-content 1fr;
    }

    .design {
        grid-row: 1/2;
        grid-column: 1/4;
    }

    .card button {
        grid-row: 2/3;
        grid-column: 3/4;
        align-self: center;
        justify-self: end;
        max-width: 100px;
        width: 100%;
        height: 20px;
    }
}